body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: montserratlight, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: white;
    background: #30234c radial-gradient(1500px at 20% 20%, #30234c 0%, #194f6b 50%, #00818d 100%);
}


.l-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.l-fullpage {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.mobile__notOptimized--landscape {
    display: none;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
}

.mobile__notOptimized--landscape .content {
    margin: 20px;
}
@media only screen and (orientation: landscape) and (max-width: 770px ){
    .mobile__notOptimized--landscape{
        display: flex;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
    }
}